<div>
  <h1>New Deal Details</h1>
  <form method='post' action='/admin/deals/<%= @eatery.id %>'>
    <label for='day-id'>Day Valid On:</label>
    <select id='day-id'>
      <% @days.each do|day| %>
      <option value=<%= day.id %>><%= day.day_name %></option>
      <% end %>
    </select>
    <br>
    
    <label for='cat-id'>Applies to:</label>
    <select id='cat-id'>
      <% @categories.each do |cat| %>
      <option value='<%= cat.id %>'><%= cat.category %></option>
      <% end %> 
    </select>
    <br>

    <label for='deal-name'>Deal Name:</label>
    <input required type='text' name='deal_name'>
    <br>

    <input type='submit' value='Create Deals'>
  </form>

</div>