<div>
  <h1>New Deal Details</h1>
  <form method='post' action='/admin/deals/<%= @eatery.id %>'>
    <label for='day-id'>Day Valid On:</label>
    <select id='day-id' name='day_id'>
      <% @days.each do|day| %>
      <option value=<%= day.id %>><%= day.day_name %></option>
      <% end %>
    </select>
    <br>
    
    <label for='cat-id'>Applies to:</label>
    <select id='cat-id' name='burrito_cat'>
      <% @categories.each do |cat| %>
      <option value='<%= cat.id %>'><%= cat.category %></option>
      <% end %> 
    </select>
    <br>

    <label for='operator'>Type:</label>
    <select id='operator' name='operator'>
      <option value='*'>Percentage Discount</option>
      <option value='-'>Subtract Set Amount</option>
      <option value='special'>Special Deal</option>
    </select>
    <br>

    <label for='operand'>By Amount:</label>
    <input id='price' type='number' name='operand' min='0' placeholder='f.e. 0.5 for 50%'>
    <br>

    <label for='deal-name'>Deal Name:</label>
    <input required type='text' name='deal_name'>
    <br>

    <input type='submit' value='Create Deals'>
  </form>

</div>