<div id='filtered-deals' >
  <h1>DEALS AVAILABLE</h1>
  <h3>At <%= @eatery.eatery_name %> on <%= @day.day_name %></h3>

  <% if @eatery.id == 1 %>
  <!-- All Deals for All Eateries on a single Day  -->
      <% @all_uniq_deals_day.each do |deal| %>  
        <p><%= deal.deal_name %></p>
          <form action='/deals/<%= deal.id %>/<%= deal.eatery_applies_to.id %>/<%= deal.day_id %>' method='get'>
            <input class='gen-b' type="submit" value="Burrito Details">
          </form>
        <% end %>
        <hr>

  <% elsif @day.id == 1 %>
  <!-- All week for certain #eatery -->
    <% if Day.find_all_week_for(@eatery).size == 0 %>
      <h4>No deals exist at this eatery</h4>
    <% else %>
      <% Day.find_all_week_for(@eatery).each do |deal| %>
        <p><%= deal.deal_name %></p>
        <form action='/deals/<%= deal.id %>/<%= @eatery.id %>/<%= @day.id %>' method='get'>
          <input class='gen-b' type="submit" value="Burrito Details">
        </form>
        <% end %>
        <hr>
    <% end %>


  <% elsif @deals.size == 0 %>
  <!-- No deals returned from selection so: -->
  <h4>No deals available on chosen date</h4>

  
  <% else %>
  <!-- All Deals for Selected Eatery on certain day-->
    <% @deals.each do |deal| %>
    <p><%= deal.deal_name %></p>
    <form action='/deals/<%= deal.id %>/<%= @eatery.id %>/<%= @day.id %>' method='get'>
      <input class='gen-b' type="submit" value="Burrito Details">
    </form>
    <% end %>
    <hr>

  <% end %>

</div>

